:root {
    --background-color: #1b3442;
    --timer-color: #46e8b2;
    --edit-color: #bfcfc6;
    --play-color: #4cc89c;
    --stop-color: #d65d65;
    --continue-color: #c0d357;
  }
  
  @font-face {
    font-family: "Endless";
    src: url("EndlessSunriseExtra.ttf");
  }
  
  * {
    font-family: "Endless";
    font-size: 102px;
    margin: 0;
    color: var(--timer-color);
  }
  
  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: auto;
    background-color: var(--background-color);
  }
  
  .timer {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  
  .timer input {
    width: 216px;
    border: none;
    background-color: var(--background-color);
  }
  
  .timer input:focus {
    outline: auto;
    border: solid var(--play-color);
  }

  input:disabled {
    color: var(--timer-color);
    cursor: not-allowed;
  }  
  
  .timer h1 {
    margin-bottom: 16px;
  }
  
  .btn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
    gap: 8px;
  }
  
  button, #less, #more {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid var(--edit-color) 3px;
    border-radius: 50%;
    padding: 18px;
    cursor: pointer;
    background-color: var(--background-color);
  }
  
  button img, #less img, #more img {
    width: 20px;
    height: 20px;
  }
  
  button h1, #less h1, #more h1 {
    font-size: 32px;
    margin-bottom: 3.5px;
    margin-left: 1px;
  }
  
  .editing {
    color: #ffcc00;
    border: solid var(--edit-color);
  }
  
  input.editing {
    color: var(--continue-color);
  }
  
  input.running {
    color: var(--timer-color);
  }
  
  @media (max-width: 480px) {
    body{
        gap: 64px;
    }
    * {
        font-size: 86px;
      }
      .timer {
        width: 50%;
        flex-direction: column;
        gap: 1px;
      }
      
      .timer input {
        width: 200px;
      } 
      .point {
        display: none;
      }
      
      .btn {
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
      }
      
      button, #less, #more {
        width: 60px;
        height: 60px;
      }

      #less, #more{
        position: absolute;
        margin-top: 15px;
      }

      #less{
        margin-left: -70%;
      }
      #more{
        margin-left: 70%;
      }
      .h::after{
        content: "h";
        position: relative;
        left: 48%;
        top: -35%;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .m::after{
        content: "m";
        position: relative;
        left: 48%;
        top: -35%;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .s::after{
        content: "s";
        position: relative;
        left: 48%;
        top: -37%;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }